.React-Modal__Overlay {
  background-color: "rgb(80, 80, 80, 0.8)" !important;
}

.ReactModal__Content {
  top: "10%";
  left: "60%";
  right: "50%";
  height: "75vh";
  width: "20vw";
  margin-left: "-30vw";
  padding: "2vw 10vw";
}