.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Menu_field {
  width: 165px;
  height: 50px;
  margin-bottom:15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.Menu_field p {
  text-align: center;
}

.add_Menu_icon {
  margin-right: 3px;
  color: rgb(70, 70, 70);
  font-size: large;
  vertical-align: -4px;
}

.add_circle_outline_icon {
  margin-left: 3px;
  color: rgb(70, 70, 70);
  font-size: large;
  vertical-align: -4px;
}