.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* .task_status_grid {
  width: 200px;
  gap: 50px;
  /* margin-left: 40px; */
  /* align-items: center; */

.task_field {
  width: 165px;
  min-height: 50px;
  max-height: 135px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}