@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f6f8f9;
}

.main {
  width: 100vw;
  height: 100vh;
}

.genre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 0 0 25px 15px;
  padding-top: 20px;
}