.select {
  width: 160px;
  height: 20px;
  margin-left: 72px;
  font-size: 15px;
  color: rgb(70, 70, 70);
  border: none;
  border-bottom: thin solid #cfcfcf;
  outline: none;
  cursor: pointer;
}

.AddCircleOutlineIcon {
  font-size: default;
}