.select {
  width: 150px;
  height: 20px;
  margin: 0 10px 0 58px;
  font-size: 15px;
  color: rgb(70, 70, 70);
  border: none;
  border-bottom: thin solid #cfcfcf;
  outline: none;
  cursor: pointer;
}

.AAddCircleOutlineIcon, .ModalStyle {
  font-size: default;
  vertical-align: -5px;
}

.ModalStyle {
  pointer-events: none;
  cursor: default;
}